# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
/vendor/
.history
.unotes/
public/assets/images
composer.phar
web-store-php.code-workspace
public/assets/webfonts
public/assets/css/bootstrap.min.css
public/assets/css/bootstrap.min.css.map
public/assets/js/bootstrap.bundle.min.js
public/assets/js/bootstrap.bundle.min.js.map
public/assets/js/fontawesome.min.js
public/assets/css/app.css
public/assets/css/fontawesome.min.css
composer.lock