/*
Azul Acinzentado              #2b6777 
Azul Acinzentado muito claro  #c8d8e4 
Cinza muito claro             #f2f2f2
Cinza claro                   #E9E9E9
Verde azulado claro           #52ab98
*/
.navegacao {
  background-color: #2b6777;
  color: #f2f2f2;
}
.fa-shopping-cart {
  color: #f2f2f2!important;
}
.navbar-toggler {
  border: none;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}