/*
Azul Acinzentado              #2b6777 
Azul Acinzentado muito claro  #c8d8e4 
Cinza muito claro             #f2f2f2
Cinza claro                   #E9E9E9
Verde azulado claro           #52ab98
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body {
  font-family: 'Noto Sans JP', sans-serif;
}

.navegacao {
  background-color: #2b6777;
  color: #f2f2f2;
}
.fa-shopping-cart, .fa-user-circle, .fa-sign-out-alt {
  color: #f2f2f2!important;
  font-size: 1.4rem;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.login {
  color: #f2f2f2!important;
  text-decoration: none;
}

.card{
  transition: box-shadow 0.4s ease;
}

.card:hover {
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important
}

.product-price {
  font-weight: 300;
}

.cart-icon {  
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -6px;
  left: 18px;
  font-weight: 400;
}